<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edu.sra.trainings">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TrainingApp"
        android:allowBackup="true"
        android:icon="@mipmap/myicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/myicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".utils.ActivityUber">

        </activity>
        <activity
            android:name=".ActivitySingUp"

            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"

            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MovieInfoActivity"

            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ActivityRecycleView"
            android:noHistory="true"

            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>